MONGO_URL=mongodb+srv://user:password@cluster.mongodb.net/
DB_NAME=wedding
HOST_PASSCODE=your-secret-passcode
HOST_EMAIL=your@email.com
SENDER_EMAIL=onboarding@resend.dev
SENDER_NAME=Filmar & Rochelle
RESEND_API_KEY=
CORS_ORIGINS=https://your-netlify-site.netlify.app
